body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 1200px;
    margin: 20px auto;
}

.user-info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.nav-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    border-radius: 5px;
}

.nav-menu li.active a {
    background-color: #333;
    color: #fff;
}

#main-content {
    flex-grow: 1;
    margin-left: 20px;
    border-radius: 8px;
}

.left-sidebar {
    width: 270px;
    background-color: #fff;
    padding: 20px;
    height: 100%;
    border-right: 1px solid #dee2e6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.user-info img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover;
    margin-bottom: 15px;
}

.user-info span {
    margin-right: 15px;
    font-weight: bold;
    font-size: 1.1em;
    color: #343a40;
}

.left-sidebar hr {
    border: 0;
    border-top: 1px solid #e9ecef;
    margin: 20px 0;
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li a {
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    color: #495057;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 5px;
}

.nav-menu li.active a {
    background-color: #333;
    color: #fff;
}

.nav-menu li a:hover {
    background-color: #8c3333;
    color: #fff;
}

.nav-menu li a i {
    width: 20px;
    margin-right: 15px;
    text-align: center;
}

.nav-menu li a span {
    font-size: 0.95em;
}
.fa-star{
    color: #495057;
}
.fa-star:hover {
    background-color: #8c3333;
    color: #fff;
}

.logout-button {
    width: 230px;
    display: flex;
    align-items: center;
    padding: 12px 15px;
    text-decoration: none;
    color: #495057;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    gap: 0.5rem;
}

.logout-button:hover {
    text-decoration: none;
    background-color: #8c3333;
    color: #fff;

}
